
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=4#a9!8ukx7s+&bcwwqocobj+7j6xmhpxrj_9h(!)#x4fnhpv74
DJANGO_ALLOWED_HOSTS=.trax.io

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


# Trax configuration

# you can obtain this token in mattermost / slack
# You have to create a slash command integration, and copy paste here
# the secret token that will be given to you
# Note that the URL to provide to slack / mattermost will be
# https://yourtraxurl.com/trax/slash
SLASH_COMMAND_TOKEN=CHANGEME
TIME_ZONE=UTC
